.img-rounded{behavior: url(/include/pie/PIE.htc);}
.img-circle{behavior: url(/include/pie/PIE.htc);}
.table-bordered{behavior: url(/include/pie/PIE.htc);}
select,textarea,input,code,pre{behavior: url(/include/pie/PIE.htc);}
.input-group-addon{behavior: url(/include/pie/PIE.htc);}
.btn{behavior: url(/include/pie/PIE.htc);}
.dropdown-menu{behavior: url(/include/pie/PIE.htc);}
.panel{behavior: url(/include/pie/PIE.htc);}
.well{behavior: url(/include/pie/PIE.htc);}
.nav-tabs > li > a{behavior: url(/include/pie/PIE.htc);}
.nav-pills > li > a{behavior: url(/include/pie/PIE.htc);}
.navbar{behavior: url(/include/pie/PIE.htc);}
.navbar-nav > li > a{behavior: url(/include/pie/PIE.htc);}
.navbar-toggle{behavior: url(/include/pie/PIE.htc);}
.navbar-toggle .icon-bar{behavior: url(/include/pie/PIE.htc);}
.breadcrumb{behavior: url(/include/pie/PIE.htc);}
.pagination{behavior: url(/include/pie/PIE.htc);}
.pager li > a,.pager li > span{behavior: url(/include/pie/PIE.htc);}
.modal-content{behavior: url(/include/pie/PIE.htc);}
.tooltip-inner{behavior: url(/include/pie/PIE.htc);}
.popover{behavior: url(/include/pie/PIE.htc);}
.popover-title{behavior: url(/include/pie/PIE.htc);}
.alert{behavior: url(/include/pie/PIE.htc);}
.thumbnail,.img-thumbnail{behavior: url(/include/pie/PIE.htc);}
.label{behavior: url(/include/pie/PIE.htc);}
.badge{behavior: url(/include/pie/PIE.htc);}
.progress{behavior: url(/include/pie/PIE.htc);}
.accordian-group{behavior: url(/include/pie/PIE.htc);}
.carousel-indicators li{behavior: url(/include/pie/PIE.htc);}
.jumbotron{behavior: url(/include/pie/PIE.htc);}
.border-radius{behavior: url(/include/pie/PIE.htc);}